.idea/
certificates/*
docker/postgres/container/payload/*
vendor/
.caches/
.DS_Store
__debug_bin
nil

# Visual Studio Code
.vscode/*
!.vscode/settings.json*
!.vscode/tasks.json*
!.vscode/launch.json*
!.vscode/extensions.json*
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Test Coverage files
*-coverage.out
*-report.json
*-report-tests.xml
