name: Checkmate

on:
  pull_request:
    types:
      # For PR description inspection only
      - edited
      - opened
      - reopened
      # For changeset automatic checklist. Also requires GITHUB_TOKEN to be set
      - synchronize
  issue_comment:
    types:
      - edited
      - created
      - deleted

jobs:
  pr-comment-master:
    env:
      CHECKMATE_DEBUG: true
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: roryq/checkmate@master

  pr-comment-golang:
    env:
      CHECKMATE_DEBUG: true
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: 1.19
    - run: go run main.go
      env:
        INPUT_PATHS: |
          "**/*.go":
            - Dummy Test Item
        INPUT_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}