name: Checkmate

on:
  pull_request:
    types:
      - edited
      - opened
      - reopened
      - synchronize

jobs:
  pr-comment-master:
    env:
      CHECKMATE_DEBUG: true
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: roryq/checkmate@test-read-config
      with:
        paths: |
          schema/migrations/**:
            - I have run the schema export functionality
            - I have run the schema tests locally
          README.md:
            - I have run the broken links checker

  pr-comment-golang:
    env:
      CHECKMATE_DEBUG: true
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: 1.19
    - run: go run main.go
      env:
        INPUT_PATHS: |
          README.md:
            - I have run the broken links checker 
