name: Checkmate

on:
  pull_request:
    types:
      - edited
      - opened
      - reopened

jobs:
  pr-comment:
    env:
      CHECKMATE_DEBUG: true
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: roryq/checkmate@test-shim